h1{background: purple; border-top: 10px solid crimson; margin: 0;text-align: center;}
h2{background: pink; border-bottom: 10px solid crimson; margin: 0;text-align: center;}
p{background: burlywood; margin-left: 20px;margin-right: 20px; margin-top: 0px; margin-bottom: 10px;}
div{background:#a52a2a; margin-left: 20px; margin-top: 20px; margin-right: 20px;}
h3{background:yellow; margin:0px; text-align: center;}
body{background-color: turquoise;}